<div class="mt-4">
    <h4>Thêm khóa học</h4>

    <form action="/courses/store" method="POST">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Video ID</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        <input type="submit" class="btn btn-default" value="Thêm">
    </form>
</div>